{% extends 'template.html.twig' %}

{% block pageName %}
    <title>Ajouter un actif</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="mb-4">Ajouter un Actif</h2>
    
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">{{ form_row(form.nom) }}</div>
            <div class="col-md-6">{{ form_row(form.numSerie) }}</div>
            <div class="col-md-6">{{ form_row(form.type) }}</div>
            <div class="col-md-6">{{ form_row(form.etat) }}</div>
            <div class="col-md-6">{{ form_row(form.userAssigned) }}
 </div>
            <div class="col-md-6">{{ form_row(form.dateAcquisation) }}</div>
        </div>

    <button type="submit" class="btn btn-primary">
        {{ action }} <!-- This will display either "Modifier" or "Ajouter" based on the action -->
    </button>
        

    {{ form_end(form) }}
</div>
{% endblock %}
